@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  /***********  VARIABLE COLORS ***********/

  /* ##### Primary ##### */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  /* ##### Neutral ##### */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);

  /* ##### TYPOGRAPHY ##### */

  --font-principal: "Red Hat Display", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-principal);
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: repeat-x;
  background-color: var(--pale-blue);
}

.card {
  background: #ffffff;
  width: 31rem;
  margin: 0;
  padding: 0;
  height: auto;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

.card__img--hero {
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 2rem 2rem 0 0;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.section__card {
  width: 100%;
  margin: 0;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.card__title {
  width: 100%;
  margin: 0;
  padding: 5rem 0 0 0;

  font-family: var(--font-principal);
  color: var(--dark-blue);
  font-size: 2.5rem;
  font-weight: 900;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.card__paragraph {
  width: 100%;
  margin: 3rem 0;
  padding: 0 2rem;

  font-family: var(--font-principal);
  color: var(--desaturated-blue);
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  line-height: 2.5rem;
}

.card__audioplan {
  background: var(--very-pale-blue);
  width: 85%;
  margin: 0 2rem;
  padding: 2rem 2rem;
  border-radius: 1rem;
  display: flex;
}

.card__audioplan--iconmusic {
  width: 4.5rem;
  margin: 0;
  padding: 0;
}

.audioplan__title {
  width: 100%;
  margin: 0;
  padding: 0;

  font-family: var(--font-principal);
  color: black;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  line-height: 2.5rem;
}

.audioplan__text {
  width: 100%;
  margin: 0;
  padding: 0;

  font-family: var(--font-principal);
  color: black;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  line-height: 2.5rem;
}

.audioplan__change {
  /* background: red; */
  width: 100%;
  margin: 0;
  padding: 0;

  font-family: var(--font-principal);
  font-size: 1.8rem;
  color: black; /*+++++++++++++++*/
  font-weight: 700;
  text-align: center;
  line-height: 2.5rem;
}

.card__button--payment {
  background-color: black;
}

.card__button--order {
  background-color: blue;
}
